$text-colour: #5a5a5a;
$tcf-light-blue: rgb(69, 183, 209) /* #8cb2cf */;
$tcf-dark-blue: rgb(47, 109, 168) /* #566ba4 */;
$tcf-green: rgb(67, 171, 92);

$transition-speed: .2s;

$font-light: 300;
$font-regular: 400;
$font-medium: 500;