---
layout: default
---

<div class="home">

  <h1 class="page-heading">Uncover the stories beneath the surface of Melbourne University's Medical and Dental History collections.</h1>
  
  {{ content }}
  
  <a href="#">Buildings</a>  
  <a href="#">Medical History Museum</a>
  <a href="#">Dental Museum</a>

<!--
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->

</div>
